body {
    height: 100vh;
    background: linear-gradient( rgba(0, 150, 136, 255) 20%, rgba(215, 219, 216, 255) 20%);
}


/* ------------------------------------------------ */


/* Utilities */

.circle {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.userpic {
    height: 60px;
}


/* ------------------------------------------------ */


/* BACKGROUND - COLORS */

.bgc-haders-grey {
    background-color: #eaeaea;
}

.bgc-footer-grey {
    background-color: #f3eeea;
}

.bgc-notify {
    background-color: #8edafc;
}

.c-notify {
    color: #8edafc;
}

.c-icons-grey {
    color: #b4b4b4;
}

.c-icons-darkgrey {
    color: #6b7376;
}

.bgc-white {
    background-color: white;
}

.fs-12px {
    font-size: 12px;
}


/* navbar */

#contactss {
    overflow-y: scroll;
    height: 450px;
}


/* chats */

.header-main {
    height: 65px;
}

.img-header {
    height: 55px;
}

#messages-area {
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* messages */

.message-received {
    background-color: #ffffff;
    padding: 10px;
}

.received {
    justify-content: flex-start;
}

.sent {
    justify-content: flex-end;
}

.message-sent {
    background-color: #d5f9ba;
    padding: 10px;
}

.date {
    font-size: 12px;
    color: grey;
}

.active {
    border: black 2px solid;
}