body {
    height: 100vh;
    background: linear-gradient( rgb(13, 116, 2) 20%, rgb(193, 255, 162) 20%);
}

.container {
    border: 2px solid blue;
}

.col-4 {
    border: yellow 2px solid;
    height: 600px;
}

.col-8 {
    border: yellow 2px solid;
    height: 600px;
}

.col {
    border: solid 2px red;
}

.col-2 {
    border: solid 2px red;
}

.col-12 {
    border: solid 2px red;
}